* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
}

.black-bg {
  background: black;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  font-size: 2rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  display: block;
  margin-left: 1rem;
  padding: 2rem;
  color: white;
  position: relative;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 20%;
  height: 0.2rem;
  bottom: 1rem;
  background: red;
  transition: all 300ms ease-in-out;
}

nav ul li a:hover::after {
  width: 60%;
}

a {
  text-decoration: none;
}
